<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>MH_dotcom</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
<!--  1. ServletConfig 인터페이스 -->
	<servlet>
		<servlet-name>test1 Servlet</servlet-name>
		<servlet-class>com.test.Test1</servlet-class>
		<init-param>
			<param-name>name</param-name>
			<param-value>김민횩</param-value>
		</init-param>
		<init-param>
			<param-name>age</param-name>
			<param-value>27</param-value>
		</init-param>
	</servlet> 
	<servlet-mapping>
		<servlet-name>test1 Servlet</servlet-name>
		<url-pattern>/test1</url-pattern>
	</servlet-mapping>
	
<!--  2. ServletContext 인터페이스 -->
	<servlet>
		<servlet-name>test2 Servlet</servlet-name>
		<servlet-class>com.test.Test2</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>test2 Servlet</servlet-name>
		<url-pattern>/test2</url-pattern>
	</servlet-mapping>
	
	<!--  DBCP 설정 추가 -->
	<resource-ref>
		<description>MySQL DataSource</description>
		<res-ref-name>jdbc/mysql</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
	
	<!--  JSP, Servlet, JDBC를 이용한 게시판 서블릿 -->
	<servlet>
		<servlet-name>boardServlet</servlet-name>
		<!--  .do로 끝나는 서블릿 주소 요청이 있는 경우 BoardServlet 클래스를 연결. -->
		<servlet-class>com.board.BoardServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>boardServlet</servlet-name>
		<!--  .do는 서블릿 주소가 .do로 끝나는 모든 경우를 말함, 임의 지정 가능 -->
		<!--  구분자 형태로 서블릿 주소를 지정하면 된다. ex) *.do, *ac -->
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	
	
</web-app>