<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Life_LevelUp</display-name>
  
  <servlet>
  	<servlet-name>myController</servlet-name>
  	<servlet-class>com.patten.MemberProcess</servlet-class>
  </servlet>
  <!--  서블릿 : 자바파일을 myController라는 서블릿 닉네임으로 임명함 -->
  
  <servlet-mapping>
  	<servlet-name>myController</servlet-name>
  	<url-pattern>*.kim</url-pattern><!-- .kim 으로 끝나는 주소는 모두 이리로 불러오라! -->
  </servlet-mapping>
  <!--  서블릿 맵핑 : 어떤 action 주소를 불러올때, 해당 서블릿 파일'이름'으로 연결함 -->
  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>