@CHARSET "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumpenscript.css);

/* Common styling */

::-webkit-input-placeholder {
	text-align: right;
	color: #E67E22;
	font-size: 16px;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
	text-align: right;
	color: #E67E22;
	font-size: 16px;
}

body {
	background-color: #ECF0F1;
	margin: 0;
	font-family: 'Jeju Gothic', serif;
	color: #454545;
}

/* Menu form styling */
header {
    background-color: #F1C40F;
    height: 40px;
    padding: 10px;
    text-decoration: none;
    position: fixed;
    width: 100%;
    z-index: 1;
    -webkit-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.4);
}

#user-menu {
	background-color: #FFFFFF;
    border-radius: 3px;
    cursor: pointer;
    height: 30px;
    width: 30px;
    padding: 3px;
    position: relative;
}

#user-menu div {
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 2px 2px 2px 2px;
    height: 2px;
    margin-top: 3px;
    width: 90%;
}

nav {
    opacity: 0;
    left: 0px;
    top: 0px;
    position: fixed;
    z-index: 0;
    width: 70%;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    background: #3e3c3d;
}

nav ul {
    list-style: none;
    margin: 0;
    width: 100%;
    padding: 0;
}

nav li {
    position: relative;
    font-size: 1em;
    font-weight: bold;
    border-bottom: 1px solid #222222;
    border-top: 1px solid #444444;
    padding: 15px;
}

nav li a {
    color: #fff;
    text-decoration: none;
}

#content {
    background-color: #FFFFFF;
    padding: 52px 10px 10px 10px;
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-box-shadow: -10px 0px 9px 0px rgba(0, 0, 0, 0.4);
    box-shadow: -10px 0px 9px 0px rgba(0, 0, 0, 0.4);
}

#contentLayer {
    display: none;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 30%;
    z-index: 5;
}


/* Card form styling */

.card {
	border-radius: 4px;
	margin: 20px auto;
	background: #fff;
	box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px
		rgba(0, 0, 0, 0.2), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
	width: 85%;
	overflow: hidden;
}

.card-header {
	background-color: #F1C40F;
	background-size: 100%;
	color: #fff;
	padding: 10px 15px;
	overflow: hidden;
}

.card-header h2 {
	font-size: 35px;
	font-weight: 300;
}

/* Input form styling */

.label {
	font-size: 32px;
    margin-bottom: 5px;
    position: relative;
    display:inline-block;
    font-family: 'Nanum Pen Script', serif;
}

.input  {
	border-radius: 2px;
	border-width: 1px;
	border-color: #BDC3C7;
	border-style: solid;
	width: 100%;
	padding: 10px 5px 10px 0;
	font-size: 16px;
}

.input-wrap  {
	position: relative;
	margin: 20px;
}

.check {
	display:inline-block;
	position: absolute;
	text-align: right;
	left: 0;
	top: 0;
	width: 100%;
	font-size: 20px;
}

.button {
	-moz-box-shadow:inset 0px 1px 6px 0px #fce2c1;
	-webkit-box-shadow:inset 0px 1px 6px 0px #fce2c1;
	box-shadow:inset 0px 1px 6px 0px #fce2c1;
	background-color:#F1C40F;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:18px;
	font-weight:bold;
	padding:13px 37px;
	text-decoration:none;
}
.button:hover {
	background-color:#ffbf40;
}
.button:active {
	position:relative;
	top:1px;
}

.submit {
	width: 100%;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 20px;
	display:inline-block;
}
