@CHARSET "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumpenscript.css);

/* < Common styling >-----------------------------------------------------*/

::-webkit-input-placeholder {
	text-align: right;
	color: #E67E22;
	font-size: 16px;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
	text-align: right;
	color: #E67E22;
	font-size: 16px;
}

body {
	overflow-x: hidden;
	margin: 0%;
	padding: 0;
	font-family: 'Jeju Gothic', serif;
	background: #fff8dc;
	color: #333333;
}

a {
	text-decoration: none;
}

#con-mid {
	width: 100%;
	text-align: center;
	vertical-align: middle;
	display: inline-block;
	overflow: hidden;
}

#con-left {
	width: 100%;
	text-align: left;
	vertical-align: middle;
	display: inline-block;
	overflow: hidden;
}
#con-right {
	width: 100%;
	text-align: right;
	vertical-align: middle;
	display: inline-block;
	overflow: hidden;
}

h1 {
	font-size: 20px;
	font-weight: 300;
}

h2 {
	font-size: 17px;
	font-weight: 300;
	margin-left: 0;
	margin-right: 0;
}

.clear {clear:both; height:0; overflow:hidden;}



/* < Common-Card form styling >--------------------------------------------------- */



.card {
	border-radius: 4px;
	margin: 20px auto;
	background: #fff;
	box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px
		rgba(0, 0, 0, 0.2), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
	width: 85%;
	vertical-align: middle;
	overflow: hidden;
}

.login .card {
	margin: 20% auto;
}

.card-header {
	background-color: #F1C40F;
	background-size: 100%;
	color: #fff;
	padding: 10px 15px;
	overflow: hidden;
}

.card-header h3 {
	font-size: 26px;
	font-weight: 300;
	margin: 4px;
	text-align: center;
}

.card h1 {
	font-size: 22px;
	text-align: center;
}

.logo {
	text-align: center;
	display:inline-block;
	width: 100%;
	position: relative;
}



/* < Board styling >----------------------------------------------------*/

#file-input { 
	float: left;
	position: relative;
	z-index: 2;
	opacity: 0.1;
	width: 35px; height: 35px;
	overflow: hidden;
	background-color: blue;
} 

#icon-write {
	float: left;
	position: relative;
	z-index: 1;
}

#flip-write {
	margin: 5px 0 10px 0;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.14);
	width: 100%;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	line-height: 35px;
	font-size: 20px;
	color: #a52a2a;
}
#con-write {
	display: none;
	padding: 15px;
	width: 100%;
	text-align: center;
	vertical-align: middle;
	display: inline-block;
	overflow: hidden;
}
#con-write #left-box {
	padding-left: 10%;
	width: 65%;
    float: left;
    text-align: center;
    padding: 5px;
    overflow: hidden;
    display: inline-block;
}
#con-write #right-box {
	padding-right: 10px;
	width: 25%;
    float: right;
    text-align: center;
    padding: 5px;
    overflow: hidden;
    display: inline-block;
}
#icon-write {
	width: 30px;
	height: 30px;
	font-size: 30px;
	text-decoration: none;
	text-transform: none;
	word-wrap: normal;
	white-space: nowrap;
	color: #F1C40F;
}
#icon-board {
	width: 18px;
	height: 18px;
	font-size: 18px;
	text-decoration: none;
	text-transform: none;
	word-wrap: normal;
	white-space: nowrap;
	color: #F1C40F;
	vertical-align: middle;
}
#board-line-subject {
	display: inline-block;
	font-weight: bold;
	font-size: 17px;
	line-height: 40px;
	vertical-align: middle;
	width: 100%;
	border-bottom: 1px solid #9C9C9C;
}

#board-line-left {
	text-align: left;
	width: 100%;
	display: inline-block;
	font-size: 16px;
	color: black;
	line-height: 17px;
}
#board-line-right {
	text-align: right;
	width: 100%;
	display: inline-block;
	font-size: 16px;
	color: #ff6347;
	line-height: 17px;
}

.card-board #left-box{
	width: 40%;
    float: left;
    text-align: left;
    padding: 5px;
    overflow: hidden;
    display: inline-block;
}
.card-board #right-box{
	width: 50%;
    float: right;
    vertical-align: middle;
    text-align: right;
    padding: 5px;
    overflow: hidden;
    display: inline-block;
}

.card-board {
	border-radius: 8px;
	margin: 10px auto;
	background: #fff;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px
		rgba(0, 0, 0, 0.2), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
	width: 85%;
	padding: 8px;
	vertical-align: middle;
}
.card-header-board {
	background-color: #F1C40F;
	background-size: 100%;
	color: #fff;
	overflow: hidden;
}


/* < Ranking styling >---------------------------------------------------*/


#avarta-rank {
	height: 100%;
	width: 100%;
}

#rank-line-avarta {
	text-align: center;
	width: 100%;
	font-size: 20px;
	color: #ff7f50;
	margin-top: 5%;
	line-height: 30px;
	display: inline-block;
}
#rank-line-name {
	text-align: left;
	width: 100%;
	display: inline-block;
	font-size: 18px;
	color: black;
	line-height: 40px;
}
#rank-line-word {
	text-align: left;
	width: 100%;
	display: inline-block;
	font-size: 16px;
	color: black;
	font-family: 'Nanum Pen Script', serif;
}
#rank-line-score {
	text-align: center;
	width: 100%;
	margin-top: 20%;
	font-size: 30px;
	color: #daa520;
	line-height: 80px;
	display: inline-block;
}

.card-rank #left-box{
	width: 20%;
    float: left;
    text-align: left;
    padding: 5px;
    overflow: hidden;
    display: inline-block;
}
.card-rank #center-box{
    width: 48%;
	text-align: left;
	vertical-align: middle;
    margin: 0 auto;
    overflow: hidden;
    padding: 5px;
    display: inline-block;
}
.card-rank #right-box{
	width: 20%;
    float: right;
    vertical-align: middle;
    text-align: right;
    padding: 5px;
    overflow: hidden;
    display: inline-block;
}
.card-rank {
	border-radius: 4px;
	margin: 10px auto;
	background: #fff;
	box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px
		rgba(0, 0, 0, 0.2), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
	width: 90%;
	vertical-align: middle;
}
.card-header-rank {
	background-color: #F1C40F;
	background-size: 100%;
	color: #fff;
	overflow: hidden;
	padding-left: 5px;
}
.card-header-rank-my {
	background-color: #ff7f50;
	background-size: 100%;
	color: #fff;
	overflow: hidden;
	padding-left: 5px;
}

/* < Circle and parameter styling >--------------------------------------*/

.progress-label {
	font-weight: bold;
	text-shadow: 1px 1px 0 #fff;
}

#cir-warp {
	display: block;
   	text-align: center;
   	width: 100%;
}

#cir-warp #left-box {
	float: left;
	width: 40%;
	text-align: center;
	position: relative;
}

#cir-warp #right-box {
	float: right;
	width: 40%;
	text-align: center;
	position: relative;
}

#my-circle #cir-warp #left-box {
	float: left;
	width: 40%;
	text-align: center;
	position: relative;
	margin: 3px 0 3px 20px;
}

#my-circle #cir-warp #right-box {
	float: right;
	width: 40%;
	text-align: center;
	position: relative;
	margin: 3px 20px 3px 0;
}

#cir-warp strong {
 	 display: inline-block;
 	 line-height: 40px;
 	 font-size: 20px;
 	 margin-bottom: -5px;
}

#cir-warp i {
  	font-style: normal;
	font-size: 0.6em;
	font-weight: normal;
}

#cir-warp #left-circle {
	position: relative;
}

#cir-warp #left-label {
 	display: inline-block;
 	color: #708090;
}

#cir-warp #right-circle {
	position: relative;
}

#cir-warp #right-label {
 	display: inline-block;
 	color: #708090;
}


/* < Menu form styling >-------------------------------------------------*/
header {
    background-color: #F1C40F;
    height: 50px;
    text-decoration: none;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 1;
    -webkit-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.4);
    overflow: hidden;
}

#left-box {
    width: 20%;
    float: left;
    text-align: left;
    padding: 5px;
    overflow: hidden;
}

#center-box {
    text-align: center;
    width: 50%;
    margin: 0 auto;
    overflow: hidden;
    padding: 5px;
    overflow: hidden;
}

#right-box {
    width: 20%;
    float: right;
    text-align: right;
    padding: 5px;
    overflow: hidden;
}

#not-login {
	background-color: #FFFFFF;
    border-radius: 3px;
    height: 30px;
    width: 30px;
    padding: 3px;
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
}

#comu-menu {
	background-color: #FFFFFF;
    border-radius: 3px;
    height: 30px;
    width: 30px;
    padding: 3px;
    display: inline-block;
    color: #F1C40F;
}

#user-menu {
	background-color: #FFFFFF;
    border-radius: 3px;
    height: 30px;
    width: 30px;
    padding: 3px;
    display: inline-block;
    color: #F1C40F;
}

#main-banner {
    width: 185px;
    padding-top: 7px;
    color: #ffffff;
    text-decoration: none;
    margin: 0 auto;
    display: inline-block;
    vertical-align: middle;
    font-size: 24px;
}

#logo-img {
	width: 30px;
	height: 30px;
	font-size: 30px;
	text-decoration: none;
	text-transform: none;
	word-wrap: normal;
	white-space: nowrap;
	color: #F1C40F;
}


#left-nav {
    opacity: 0;
    left: 0px;
    top: 0px;
    position: fixed;
    z-index: 0;
    width: 85%;
    height: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    background: #3e3c3d;
}


#left-nav ul {
    list-style: none;
    margin: 0;
    width: 100%;
    padding: 0;
}

#left-nav li {
    position: relative;
    font-size: 1em;
    font-weight: bold;
    padding: 15px;
    padding-right: 25px;
    overflow:auto;
}


#left-nav li a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
}

#top-nav ul li {
	display:inline-block;
	font-size: 1.5em;
    padding: 4%;
    margin: 0;
    width: 38%;
    font-family: 'Nanum Pen Script', serif;
    -webkit-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.4);
}
#top-nav ul {
	list-style-type:none;
	margin: 0;
    width: 100%;
    text-align: center;
    padding: 0;
}
#top-nav li a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
}

#top-nav #top-a {
	background: #ff4500;
}
#top-nav #top-b {
	background: #cd853f;
}

#my {
	padding: 10px;
	padding-right: 20px;
}

#my-cha{
	width: 100%;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
}

#my-cha #left-box {
    width: 35%;
    float: left;
    text-align: left;
}

#my-cha #right-box {
    width: 35%;
    float: right;
    text-align: right;
}

#condition {
	background: #fff;
}

#condition h3 {
	color: #000;
	font-size: 24px;
	font-weight: 300;
	text-align: center;
	margin: 5px;
}

#condition h4 {
	color: #F1C40F;
	font-size: 20px;
	font-weight: 300;
	text-align: center;
	margin: 5px;
}


#my-menu {
	width: 100%;
	height: 20%;
	text-align: center;
	margin-top: 20px;
	overflow: hidden;
}

#avarta-my {
	margin-top: 2px;
	height: 120px;
	width: 120px;
}

#avarta {
	margin-top: 2px;
	height: 120px;
	width: 120px;
}


#my-left-box {
	float: left;
	width: 45%;
	height: 100%;
	vertical-align: middle;
	text-align: center;
	margin-left: 15px;
}

#my-right-box {
	float: right;
	width: 45%;
	height: 100%;
	text-align: center;
	margin-right: 15px;
}

#lv_eng_font {
	color: #000000;
	font-size: 15px;
}

#lv_num_font {
	color: #ffa500;
	font-size: 38px;
}

#lv_b_font {
	margin-top: 7px;
	color: #ff4500;
	font-size: 15px;
}

#lv_e_font {
	margin-top: 7px;
	color: #1e90ff;
	font-size: 15px;
}

#lv_exp_font {
	margin: 5px;
	color: #708090;
	font-size: 12px;
}

#content {
	overflow: hidden;
    background-color: #fafad2;
    padding-top: 52px;
    padding-bottom: 10px;
    margin: 0;
    position: relative;
    width: 100%;
    height: 100%;
    min-height: auto;
    -webkit-box-shadow: -10px 0px 9px 0px rgba(0, 0, 0, 0.4);
    box-shadow: -10px 0px 9px 0px rgba(0, 0, 0, 0.4);
}

#contentLayer {
    display: none;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 15%;
    z-index: 5;
}


/* Input form styling */

.label {
	font-size: 32px;
    margin-bottom: 5px;
    position: relative;
    display:inline-block;
    font-family: 'Nanum Pen Script', serif;
}

.input  {
	border-radius: 2px;
	border-width: 1px;
	border-color: #BDC3C7;
	border-style: solid;
	width: 100%;
	padding: 10px 5px 10px 0;
	font-size: 16px;
}

.input-wrap  {
	position: relative;
	margin: 20px;
}

.check {
	display:inline-block;
	position: absolute;
	text-align: right;
	font-family: 'Nanum Pen Script', serif;
	left: 0;
	top: 0;
	width: 100%;
	font-size: 22px;
}

.button-write {
	-moz-box-shadow:inset 0px 1px 6px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 6px 0px #ffffff;
	box-shadow:inset 0px 1px 6px 0px #ffffff;
	background-color:#ffffff;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
	display:inline-block;
	cursor:pointer;
	color:#F1C40F;
	font-family:Arial;
	font-size:18px;
	font-weight:bold;
	padding:22px 20%;
	text-decoration:none;
}

.button-white {
	-moz-box-shadow:inset 0px 1px 6px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 6px 0px #ffffff;
	box-shadow:inset 0px 1px 6px 0px #ffffff;
	background-color:#ffffff;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
	display:inline-block;
	cursor:pointer;
	color:#F1C40F;
	font-family:Arial;
	font-size:18px;
	font-weight:bold;
	padding:8px 18px;
	text-decoration:none;
}

.button-my-detail {
	-moz-box-shadow:inset 0px 1px 6px 0px #6bfe9e;
	-webkit-box-shadow:inset 0px 1px 6px 0px #6bfe9e;
	box-shadow:inset 0px 1px 6px 0px #6bfe9e;
	background-color:#40e0d0;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:15px;
	font-weight:bold;
	padding:6px 20px;
	margin: 3px 30px 3px 0;
	text-decoration:none;
}

.button-con-logout {
	-moz-box-shadow:inset 0px 1px 6px 0px #6bfe9e;
	-webkit-box-shadow:inset 0px 1px 6px 0px #6bfe9e;
	box-shadow:inset 0px 1px 6px 0px #6bfe9e;
	background-color:#40e0d0;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:14px;
	font-weight:bold;
	padding:3px 8px;
	text-decoration:none;
}

.button-con-exp {
	-moz-box-shadow:inset 0px 1px 6px 0px #6bfe9e;
	-webkit-box-shadow:inset 0px 1px 6px 0px #6bfe9e;
	box-shadow:inset 0px 1px 6px 0px #6bfe9e;
	background-color:#00bfff;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:17px;
	font-weight:bold;
	padding:9px 12px;
	margin-top: 10px;
	text-decoration:none;
}

.button {
	-moz-box-shadow:inset 0px 1px 6px 0px #fce2c1;
	-webkit-box-shadow:inset 0px 1px 6px 0px #fce2c1;
	box-shadow:inset 0px 1px 6px 0px #fce2c1;
	background-color:#F1C40F;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:9px 12px;
	text-decoration:none;
}

.button:hover {
	background-color:#ffbf40;
}
.button:active {
	position:relative;
	top:1px;
}

.submit {
	width: 100%;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 20px;
	display:inline-block;
}
